@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.where {
  margin-bottom: 5%;
}
.where-desc {
  font-family: "Indie Flower", cursive;
  font-weight: normal !important;
}
.where-title {
  text-align: center;
}
